# OS / Editor
.DS_Store
Thumbs.db
*.log
/.idea
/.vscode
/.fleet
/.zed
/.nova
/.vagrant

# Environment files
.env
.env.*
.env.backup
.env.production

# Composer / Auth
/vendor
/auth.json

# Node / Frontend
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpactor.json

# Homestead
Homestead.yaml
Homestead.json
